.name{
    font:bold 15px LiberationSans,Helvetica,Arial,sans-serif;
    white-space:pre;
    letter-spacing:0px;
    fill: white;
}
.image_circle{
    fill:white;
}
.image_background{
    fill: white;
}
.lignes{
    fill: rgb(200, 200, 200);
}
.titles{
    font:normal 18px LiberationSans,Helvetica,Arial,sans-serif;
    white-space:pre;
    letter-spacing:0px;
}
.gras_text,.date{
    font:bold 10px LiberationSans,Helvetica,Arial,sans-serif;
    white-space:pre;
    letter-spacing:0px;
}
.text,.gras_text{
    fill: black;/* my chosen color red #932200*/
}
.zone1,.squares,.titles,.date{
    fill: rgb(18, 34, 127); /*#17abb3   yellow->#d3b521*/
}
.zone2{
    fill: #d7f3fb;/*#EEF1F2*/
}
.zone2:hover{
    fill: #EEF1F2;
}
text:hover{
    fill: rgb(150,0,0);
}
.text{
    font:normal 10px LiberationSans,Helvetica,Arial,sans-serif;
    white-space:pre;
    letter-spacing:0px;
    cursor: pointer;
}