@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply text-[#C84C30];
    background-image: linear-gradient(-225deg, #0d0d0d 0%, #1a1a1a 30%, #44107A 60%, #C84C30 100%);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@layer components {
  .head-container {
    @apply sticky top-0 flex px-2 justify-between bg-zinc-900 shadow-md shadow-[#C84C30]/60 border-b  border-[#C84C30] text-indigo-400  z-10;
    background-image: linear-gradient(140deg, #0d0d0d 0%, #1a1a1a 30%, #44107A 60%, rgba(0, 0, 0, 0.822) 30%);
  }
  .menu {
    @apply flex gap-10 right-0 text-[20px] p-4
    max-sm:flex-col
    max-sm:text-[14px]
    max-sm:bg-zinc-900
    max-sm:border-solid
    max-sm:border-[#C84C30]
    max-sm:border
    max-sm:fixed
    max-sm:top-0
    max-sm:p-2
    max-sm:text-center;
  }
  .menu-a {
    @apply hover:text-[#C84C32] hover:underline;
  }
  .contact-a {
    @apply w-full p-4 flex gap-2 text-[18px] shadow-indigo-500/20 shadow-lg justify-center
    ease-in-out
    duration-300
    hover:text-[#C84C32]
    hover:scale-105
    hover:shadow-[#C84C32]/50;
  }
  .contact-email {
    @apply text-indigo-500 shadow-lg underline shadow-indigo-500/50 mx-5
    ease-in-out
    duration-700
    hover:shadow-[#C84C32]/50
    hover:text-[#C84C32];
  }
  .p-style {
    @apply text-indigo-500 underline
    ease-in-out
    duration-700
    hover:text-[#C84C32];
  }
  
}
